body {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 20px;
  color: #222;
  text-align: center;
}

#playerContainer {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#playerContainer.dark {
  background: #111;
  color: white;
}

audio {
  width: 100%;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #003366;
  color: white;
}

button:hover {
  background-color: #0055aa;
}

button.active {
  background-color: #007bff;
}

#speedControls, #controls, #chapterNav, #bottomControls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

#darkModeToggle, #downloadBtn {
  margin-top: 10px;
}

@media (max-width: 480px) {
  button {
    padding: 8px 10px;
    font-size: 14px;
  }

  h1, h2 {
    font-size: 1.2em;
  }
}
